* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "yatra one";
}

:root {
  --player-color: whitesmoke;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/background.png');
  background-size: cover;
  overflow: hidden;
}

svg {
  height: 80%;
  width: 100%;
  transform: scale(1);
}

svg tspan {
  font-family: sans-serif;
}

text {
  pointer-events: none;
}

tspan {
  text-shadow: 1px 1px 2px #000;
  fill: #fff;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.territory-name-span {
  font-size: 8px;
  opacity: 0.6;
}

.territory {
  & path {
    cursor: pointer;
    pointer-events: all;
    transition-duration: 300ms;
    stroke: #000;
    stroke-width: 0.5;
    filter: url("#filter_texture");

    &:hover {
      filter: brightness(100%);
    }
  }
}

.sea-route {
  fill: none;
  stroke: #333;
  stroke-width: 1.5;
  stroke-dasharray: 5, 5;
}

.path-click {
  transform: translateZ(10px);
  transform: translateX(-5px);
  filter: drop-shadow(5px 5px #333);
  fill: red;
  transition-duration: 1s;
}

#side-bar-left {
  color: white;
  font-size: 15px;
  width: 300px;
  height: 100vh;
  position: absolute;
  display: block;
  align-content: center;
  gap: 10px;
}

.player-card {
  position: relative;
  width: 280px;
  height: 75px;
  background-image: url('/images/player-name-background.png');
  background-size: 100% 100%;
  background-repeat: repeat;
  border-radius: 16px;
  padding: 0rem 1rem;
  color: #333;
  display: flex;
  align-items: center;
  margin: 10px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid;
}

#side-bar-right {
  width: 10vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  z-index: 2;
}

main {
  width: 100vw;
  height: 100vh;
}

#troop-toast-box {
  text-align: center;
  background-color: rgba(94, 72, 57, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  /* border: 1px solid #fff; */
  border: 1px solid rgba(166, 138, 100, 0.8);
  border-radius: 10px;
  gap: 1rem;
}

.custom-number-input {
  height: 50%;
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 1rem;
}

#number-input {
  width: 250px;
  background-color: #fff;
  text-align: center;
  border-width: 0;
}

#increment,
#decrement {
  /* background-color: #ccc; */
  background-color: rgb(173, 125, 14);
  border: 1px solid rgba(109, 50, 2, 0.6);
  font-size: 18px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#place-troops-btn {
  cursor: pointer;
  border-width: 0;
  border-radius: 6px;
  background-color: rgb(173, 125, 14);
  border: 1px solid rgba(109, 50, 2, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 2rem;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.popup-content {
  background-color: rgb(173, 125, 14);
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  text-align: center;
}

#waiting-heading {
  width: 40%;
  height: 90%;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

#waiting-list {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.highlight-territory {
  filter: brightness(100%) !important;
}

#startGame-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#startGame-popup > img {
  width: 1000px;
  opacity: 0;
  object-fit: cover;
  border-radius: 20px;
}

@keyframes blink {
  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#phaseDetails-box {
  width: 450px;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: #a1651b;
  border: 1px solid snow;
  border-radius: 1rem;
  padding: 1rem;
  display: none;
}

#phaseDetails-box > h2 {
  color: #fff;
  text-align: center;
}

#phaseDetails-box > hr {
  border: 0.2px solid #ccc;
  margin: 6px 0px;
}

.phaseBtn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0px;
  margin-bottom: 0px;
  cursor: pointer;
  border-radius: 10px;
}

.phaseBtn:hover {
  opacity: 0.8;
}

.nextPhaseBtn {
  display: none;
  background-color: #f8ab4d;
  color: #fff;
}

#cards-option {
  position: absolute;
  bottom: 20%;
  left: 1%;
  height: 140px;
  width: 100px;
  background-image: url("../images/card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 12px;
  border: 2px solid rgba(166, 138, 100, 0.8);

  z-index: 10;
  transition: all 0.2s ease;
}

#cards-option:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  border-color: rgba(166, 138, 100, 1);
}

#cards-popup {
  background-color: rgba(166, 138, 100, 0.7);
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: none;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

#cards-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  width: 22%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.card {
  width: 100%;
  height: 90%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  transition-duration: 300ms;
}

.card img:hover {
  transform: scale(1.03);
}

.card-count {
  width: 20%;
  padding: 6%;
  background-color: #7f4f24;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blink-territory {
  animation: blinkAnimation 1s infinite ease-in-out;
}

@keyframes blinkAnimation {
  0% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(70%);
  }

  100% {
    filter: grayscale(0%);
  }
}

.player-details {
  font-size: larger;
}

.avatar {
  margin-right: 10px;
}

.current-player {
  border: 3px solid #9e8117;
  box-shadow: 0 0 13px 5px #f9ffbb;

  & > * {
    transform: scale(1.1);
  }
}

.chat-icon-container {
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 9;
  top: 0px;
  right: 0px;
}

.chat-icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.troops-bg {
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);
}

.chat-container {
  width: 400px;
  height: 400px;
  background-color: rgba(58, 90, 64, 0.8);
  position: fixed;
  top: 70px;
  right: 80px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  transition-duration: 300ms;
  overflow: hidden;
}

.notification-count {
  background-color: red;
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  font-size: 10px;
  position: fixed;
  top: 50px;
  right: 50px;
  overflow: hidden;
  display: none;
}

.hidden-chat {
  width: 0px;
  height: 0px;
  padding: 0px;
}

.globe-img-chat {
  width: 30px;
  height: 30px;
}

.chat-tabs {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  background: #eae4e42f;
  border-radius: 10px;
  padding: 10px;
}

.tab-btn {
  flex: 1;
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.chat-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  color: #fff;
  overflow-y: scroll;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  border: none;
  height: 40px;
  padding: 1rem;
  border-radius: 10px;
}

.chat-input input:focus {
  outline: none;
}

.chat-input .send-btn {
  border: none;
  background: #344e41;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.tab-btn.active {
  background: #344e41;
  color: white;
  border-radius: 4px;
}

#submit-button {
  padding: 8px 16px;
  background-color: rgb(173, 125, 14);
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#troops-input {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  color: black;
}

#troops-to-defend,
#troops-to-attack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid rgba(173, 125, 14, 0.8);
  background-color: rgba(94, 72, 57, 0.8);
}

/* Help modal  */
.help-modal {
  width: 1000px;
  height: 0px;
  background-image: url(/images/instruction-bg.png);
  background-size: contain;
  background-size: 100% auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  transition-duration: 800ms;
  opacity: 0;
}

.help-modal-opened {
  height: 800px;
  padding: 1rem 1.5rem;
  opacity: 1;
}

.help-modal-heading {
  color: #fdf0d5;
  text-transform: uppercase;
}

.scrollable-help-modal {
  width: 80%;
  height: 400px;
  position: absolute;
  top: 40%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollable-help-modal > ol {
  list-style-position: inside;
  color: #fdf0d5;
  overflow-y: scroll;
  height: 90%;
  margin-top: 20px;
}

.scrollable-help-modal > ol::-webkit-scrollbar {
  display: none;
}

.scrollable-help-modal > ol > li {
  margin: 10px 0px;
  font-size: 20px;
}

/* Players Stats */

.player-stats {
  width: 300px;
  height: 0px;
  background-image: url("/images/players-bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: fixed;
  top: 50%;
  left: 20%;
  padding: 0px;
  transform: translate(-20%, -50%);
  text-align: center;
  transition-duration: 400ms;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-stats img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 1rem 0px;
  object-fit: cover;
}

.player-stats-opened {
  height: 425px;
  padding: 2rem;
  opacity: 1;
}

.player-stats > h3 {
  color: #7f5539;
  font-size: 26px;
}

.player-stats-details > ul {
  list-style-type: none;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-stats-details > ul > li {
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: #bc4749;
}

/* Shortcuts Modal */
.shortcuts-modal {
  font-size: 20px;
  color: #fff;
}

.shortcuts-modal th {
  font-size: 30px;
}

.shortcuts-modal td,
th {
  padding: 1rem;
  text-align: center;
  border-radius: 7px;
}

#result-popup {
  width: 30vw;
  height: 10vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#result-popup > p {
  font-size: 40px;
}

.golden-cavalry {
  position: absolute;
  left: 35%;
  bottom: 1%;
  padding: 8px;
  background: url('../images/login-background.png') no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.golden-cavalry > table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.golden-cavalry th,
.golden-cavalry td {
  padding: 8px 12px;
  text-align: center;
  color: #3b1e00;
  font-family: 'Georgia', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.golden-cavalry th {
  font-size: 18px;
  letter-spacing: 1px;
}
