* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'yatra one';
}

:root {
  --player-color: whitesmoke;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/game-background.png');
  background-size: cover;
  /* overflow: hidden; */
}

svg {
  height: 80%;
  width: 100%;
  transform: scale(1);
}

text {
  pointer-events: none;
}

tspan {
  text-shadow: 1px 1px 2px #000;
  fill: #f0e68c;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.territory-name-span {
  font-size: 8px;
  opacity: 0.6;
}

.territory {
  & path {
    cursor: pointer;
    pointer-events: all;
    transition-duration: 300ms;
    stroke: #000;
    stroke-width: 0.5;
    filter: url('#filter_texture');

    &:hover {
      filter: brightness(100%);
    }
  }
}

.sea-route {
  fill: none;
  stroke: #eee;
  stroke-width: 1.5;
  stroke-dasharray: 5, 5;
}

.path-click {
  transform: translateZ(10px);
  transform: translateX(-5px);
  filter: drop-shadow(5px 5px #333);
  fill: red;
  transition-duration: 1s;
}

#side-bar-left {
  color: white;
  font-size: 15px;
  width: 10vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: block;
  align-content: center;
  gap: 10px;

  &>div {
    border: 0.5px solid black;
    background-color: rgba(203, 229, 239, 0.2);
    display: flex;
    border-radius: 5px;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 10px;

    & :first-child>img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      padding: 4px;
      border: 3px solid #000;
    }
  }

  & :hover {
    background-color: rgba(203, 229, 239, .6);
  }
}

#side-bar-right {
  width: 10vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  z-index: 2;
}

main {
  width: 100vw;
  height: 100vh;
}

.custom-number-input {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#number-input {
  width: 30%;
  height: 40%;
  text-align: center;
  border-width: 0;
  background-color: antiquewhite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#decrement {
  background-color: red;
  width: 4%;
  aspect-ratio: 1;
}

#increment {
  background-color: green;
  width: 4%;
  aspect-ratio: 1;
}

#place-troops-btn {
  padding: 5px 10px;
  cursor: pointer;
  width: 16%;
  background-image: 'images/a9064b2c-5358-4a8a-81c4-c637426999b7.png';
  background-color: var(--player-color);
  box-sizing: content-box;
  border-width: 0;
}

#troop-toast-box {
  height: 100%;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.popup-content {
  background-color: rgb(173, 125, 14);
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  text-align: center;
}

#waiting-heading {
  width: 40%;
  height: 90%;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

#waiting-list {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.highlight-territory {
  filter: brightness(100%) !important;
}

#startGame-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#startGame-popup>img {
  width: 1000px;
  opacity: 0;
  object-fit: cover;
  border-radius: 20px;
}

@keyframes blink {
  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}