* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "yatra one";
}

:root {
  --player-color: whitesmoke;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/game-background.png");
  background-size: cover;
  overflow: hidden;
}

svg {
  height: 80%;
  width: 100%;
  transform: scale(1);
}

text {
  pointer-events: none;
}

tspan {
  text-shadow: 1px 1px 2px #000;
  fill: #fff;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.territory-name-span {
  font-size: 8px;
  opacity: 0.6;
}

.territory {
  & path {
    cursor: pointer;
    pointer-events: all;
    transition-duration: 300ms;
    stroke: #000;
    stroke-width: 0.5;
    filter: url("#filter_texture");

    &:hover {
      filter: brightness(100%);
    }
  }
}

.sea-route {
  fill: none;
  stroke: #eee;
  stroke-width: 1.5;
  stroke-dasharray: 5, 5;
}

.path-click {
  transform: translateZ(10px);
  transform: translateX(-5px);
  filter: drop-shadow(5px 5px #333);
  fill: red;
  transition-duration: 1s;
}

#side-bar-left {
  color: white;
  font-size: 15px;
  width: 300px;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: block;
  align-content: center;
  gap: 10px;

  & > div {
    border: 0.5px solid black;
    background-color: rgba(203, 229, 239, 0.2);
    display: flex;
    border-radius: 5px;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 10px;

    & :first-child > img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      padding: 4px;
      border: 3px solid #000;
    }
  }

  & :hover {
    background-color: rgba(203, 229, 239, 0.6);
  }
}

#side-bar-right {
  width: 10vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  z-index: 2;
}

main {
  width: 100vw;
  height: 100vh;
}

#troop-toast-box {
  text-align: center;
  background-color: rgba(94, 72, 57, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  /* border: 1px solid #fff; */
  border: 1px solid rgba(166, 138, 100, 0.8);
  border-radius: 10px;
  gap: 1rem;
}

.custom-number-input {
  height: 50%;
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 1rem;
}

#number-input {
  width: 250px;
  background-color: #fff;
  text-align: center;
  border-width: 0;
}

#increment,
#decrement {
  /* background-color: #ccc; */
  background-color: rgb(173, 125, 14);
  border: 1px solid rgba(109, 50, 2, 0.6);
  font-size: 18px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#place-troops-btn {
  cursor: pointer;
  border-width: 0;
  border-radius: 6px;
  background-color: rgb(173, 125, 14);
  border: 1px solid rgba(109, 50, 2, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 2rem;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.popup-content {
  background-color: rgb(173, 125, 14);
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  text-align: center;
}

#waiting-heading {
  width: 40%;
  height: 90%;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

#waiting-list {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.highlight-territory {
  filter: brightness(100%) !important;
}

#startGame-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#startGame-popup > img {
  width: 1000px;
  opacity: 0;
  object-fit: cover;
  border-radius: 20px;
}

@keyframes blink {
  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#phaseDetails-box {
  width: 450px;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: #a1651b;
  border: 1px solid snow;
  border-radius: 1rem;
  padding: 1rem;
  display: none;
}

#phaseDetails-box > h2 {
  color: #fff;
  text-align: center;
}

#phaseDetails-box > hr {
  border: 0.2px solid #ccc;
  margin: 6px 0px;
}

.phaseBtn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0px;
  margin-bottom: 0px;
  cursor: pointer;
  border-radius: 10px;
}

.phaseBtn:hover {
  opacity: 0.8;
}

.nextPhaseBtn {
  display: none;
  background-color: #f8ab4d;
  color: #fff;
}

#cards-option {
  position: absolute;
  bottom: 20%;
  left: 1%;
  height: 140px;
  width: 100px;
  background-image: url("../images/card.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 12px;
  border: 2px solid rgba(166, 138, 100, 0.8);

  z-index: 10;
  transition: all 0.2s ease;
}

#cards-option:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  border-color: rgba(166, 138, 100, 1);
}

#cards-popup {
  background-color: rgba(166, 138, 100, 0.7);
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: none;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

#cards-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  width: 22%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.card {
  width: 100%;
  height: 90%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  transition-duration: 300ms;
}

.card img:hover {
  transform: scale(1.03);
}

.card-count {
  width: 20%;
  padding: 6%;
  background-color: #7f4f24;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blink-territory {
  animation: blinkAnimation 1s infinite ease-in-out;
}

@keyframes blinkAnimation {
  0% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(70%);
  }

  100% {
    filter: grayscale(0%);
  }
}
.current-player {
  background-color: #d4edda;
  border: 2px solid #28a745;
  color: #155724;
  font-weight: 800;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.6);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
