@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Yatra+One&display=swap");


* {
  font-family: 'yatra one';
}

.winner-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/winner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
}

.winner-content {
  height: 20vh;
  width: 35vw;
  text-align: center;
  background-image: url('../images/winner-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 20px;
  animation: fadeIn 1s ease-out;
}

.winner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: gold;
}

.winner-buttons button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgb(99, 68, 9);
  color: gold;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}